/* Nav styles */
nav{
    display: flex;
    justify-content: space-around;
    padding: 10px 40px;
    font-family: monospace;
}
.nav-title{
    font-size: 20px;
}
.nav-anchor{
    padding-top: 25px;
}
nav .nav-btn{
    font-family: monospace;
    background-color: aqua;
    padding: 6px 3px;
    
}


/* Banner Styles */

.banner{
    background-image: url('../assets/Hero-bg.png');
    height: 650px;
    width: auto;
    background-position: center;
    
}
.banner{
    padding-bottom: 10px;
    justify-content: center;
}
.banner-profile-pic{
    align-items: center;
    padding-left: 40%;
    margin-top: 40px;
}
.banner-title{
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 20px;
    font-family: monospace;
    font-size: 40px;
    display: inline-block;
    font-weight: bolder;
    color: #131933;
}
.banner-content{
    
    font-weight: 900;
    line-height: 48px;
    text-align: center;
    margin-bottom: 5px;
}
.banner-description{
    font-family: monospace;
    font-size: large;
    text-align: center;
    padding-left: 300px;
    padding-top: 0%;
    padding-right: 250px;
    color: #131933;
    margin-top: 0%;
}
.btn-primary{
    background-color: rgba(13, 19, 33, 1);
    font-weight: bold;
    font-size: 20px;
    border: none;
    color: rgba(255, 255, 255, 1);
    padding: 15px 30px;
    border-radius: 5px;
    font-family: monospace;
}
/* why web development sector Styles */

.full-second-part{
    border-radius: 10px;
    padding: 110px 130px;
    text-align: center;
    background-color: rgba(13, 19, 33, 0.08);
    margin: 70px 80px;
}
.second-part-title{
    font-family: monospace;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.second-title{
    font-family: monospace;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}
.coding{
    font-family: monospace;
    display: flex;
    margin-right: 420px;
    display: block;
    padding-top: 20px;
    margin-left: 50px;
    margin-bottom: 50px;
    
}
.coding-description{
    padding-top: 10px;
    padding-bottom: 20px;
}
.coding-img{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    box-shadow:0px 4px 5px 0px  rgba(0, 0, 0, 0.25);
}
.layer-1{
    position: absolute;
    padding-left: 500px;
    padding-top: 20px;
}


.coding-btn{
    font-family: monospace;
    padding: 10px 5px;
}
.web-system{
    font-family: monospace;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 40px;
    margin-left: 350px;
}
.web-description{
    padding-top: 10px;
    padding-bottom: 20px;
}
.group-3{
    position: absolute;
    margin-right: 630px;
    padding-left: 50px;
}
.web-system-img{
    font-family: monospace;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    box-shadow: 2px 1px 4px 0px  rgba(0, 0, 0, 0.25);
}
.web-btn{
    font-family: monospace;
    padding: 10px 5px;
}
.data-collection-img{
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 3px 1px  rgba(0, 0, 0, 0.25);
    
}
.data-collection{
    font-family: monospace;
    text-align: center;
    margin-right: 440px;
    display: block;
    padding-top: 20px;
    margin-left: 50px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    
}
.data-description{
    padding-top: 10px;
    padding-bottom: 20px;
}
.group-4{
    position: absolute;
    margin-left: 500px;
    margin-bottom: 450px;
    
}
.data-btn{
    font-family: monospace;
    padding: 10px 5px;
}
/* Inspiration Video Part Styles */
.inspiration{
    font-family: monospace;
    padding: 30px 110px;
    border: 1px solid black;
    border-radius: 5px;
    
}
.inspiration-title{
    font-family: monospace;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}
.inspiration-description{
    text-align: center;
}
.video{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 1040px;
    height: 677px;
    border-radius: 7px;
    box-shadow: 2px 1px 4px 0px  rgba(0, 0, 0, 0.25);

}
/* Current Target Part Styles */
.section-title{
    font-family: monospace;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}
.section-description{
    font-family: monospace;
    text-align: center;
    font-size: 18px;
    color: #757575;
    padding-bottom: 30px;
}
.targets-container{
    font-family: monospace;
    display: flex;
    gap: 24px;
}
.target-1{
    font-family: monospace;
    padding: 50px;
    border-radius: 5px;
    background-color: rgba(255, 76, 30, 0.05);
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
}
.target-2{
    padding: 50px;
    font-family: monospace;
    border-radius: 5px;
    background-color: rgba(0, 76, 232, 0.05);
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.target-3{
    font-family: monospace;
    padding: 50px;
    border-radius: 5px;
    background-color: rgba(255, 223, 0, 0.05);
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.btn-html{
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    background-color: rgb(182, 215, 214);
}
.targets{
    padding: 50px 100px;
}
/* Support Section  */
#support{
    font-family: monospace;
    height: 150px;
    width: 750px;
    background-image: linear-gradient(0deg, rgb(16, 15, 15) -19.5%, rgba(16, 14, 14, 0) 100%), url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    display: flex;
    color: #FFFFFF;
    padding: 30px 110px;
    margin: 40px 145px;
}

#support .support-box{
    font-family: monospace;
    height: 100px;
    display: inline-block;
    align-items: center;
    border: 64px 48px solid;
    padding: 0px 30px;
    
}
#support .input-box {
    font-family: monospace;
    text-align: center;
    padding: 14px 20px;
}  
#support .support-title{
    font-family: monospace;
    font-size: 20px;
    font-weight: bolder;
    color: #FFFFFF;
    text-align: center;
}
.support-issue{
    font-family: monospace;
    padding: 3px 10px;
}
.support-submit{
    font-family: monospace;
    padding: 3px 10px;
}
/* Footer Section Styles */
.footer-box{
    display: flex;
    align-items: center;
    margin-top: 100px;
    padding-left: 135px;
    padding-bottom: 20px;
    background-color: rgba(171, 202, 216, 0.309);
}
.footer-title{
    font-family: monospace;
    color: rgba(13, 19, 33, 1);
    /* margin-top: 30px; */
    padding-top: 18px;
}
.footer-content{
    padding-top: 20px;
    padding-left: 600px;
}
.footer-1, .footer-2, .footer-3{
    padding: 0px 10px;
}